* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #343434;
}

p {
	margin: 0;
}

#app {
	position: relative;
	display: flex;
}

.card {
	position: static;
	margin: 10px;
	background-color: rgb(32, 32, 32);
}

.card-item {
	margin: 10px 0;
	background-color: rgb(65, 65, 65);
}

#cards .card.dragged {
	position: absolute;
	z-index: 999;
	pointer-events: none;
}

#plug {
	margin: 10px 0 !important;
}

.grey-color-bg {
	background-color: rgb(192, 192, 192);
}

.baby-color {
	background-color: rgb(243, 218, 11);
}

.card-header {
	width: 100%;
	min-height: 10px;
	max-height: 0;
	transition: max-height 2s ease-out;
	overflow: hidden;
	padding: 0;
}

.card-header:hover {
	max-height: 500px;
	transition: max-height 2s ease-in;
}

.btn-close {
	display: none;
}

.card-header:hover .btn {
	display: block;
	animation: fadeInFromNone 2s ease-in-out;
}

@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

#cards .card {
	cursor: grab;
}

.filter-white {
	filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(88deg) brightness(115%) contrast(104%);
}

.svg-icon {
	height: 1.5rem;
}

.svg-add-icon {
	background: url('../img/add-icon.svg') no-repeat center;
	background-size: contain;
}

.svg-cancel-icon {
	background: url('../img/cancel-icon.svg') no-repeat center;
	background-size: contain;
}

.card-header .btn {
	display: none;
	width: 16px;
	height: 16px;
	box-sizing: content-box;
}

.card-header .btn:focus {
	border-color: rgba(0, 0, 0, 0.1);
}

.svg-option-icon {
	background: url('../img/more-icon.svg') no-repeat center;
	background-size: contain;
}

.svg-close-icon {
	background: url('../img/close-icon.svg') no-repeat center;
	background-size: contain;
}

.card-header:hover .btn:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.form-control {
	color: white;
	border-color: #343434;
	background-color: rgb(65, 65, 65);
}

.form-control:focus.form-control::placeholder {
	color: rgba(255, 255, 255, 0.53);
}

.form-control:focus {
	color: white;
	border-color: #343434;
	box-shadow: none;
	background-color: rgb(65, 65, 65);
}
